<div class="home-page">
    
    <div class="home-header">
        <img src="assets/icon.png" alt="PhenoblendTK Logo" class="home-header__logo" />
        
        <div class="home-header__titles">
            <h1 class="home-header__h1">
                <span class="home-header__h1--accent">Phenoblend Toolkit</span>
            </h1>
            <p class="home-header__subtitle">Visualize phenotype blending with multiple genetic diagnosis</p>
        </div>

        <div class="home-header__orcid">
            <div class="action-with-help">  
            <button (click)="setBiocuratorOrcid()" 
                class="orcid-btn">
                    <mat-icon class="scale-75">account_circle</mat-icon>
                    {{ biocuratorOrcid() || 'Set ORCID' }}
            </button>
            </div>
        </div>
    </div>

    <div class="home-card">
        
        <div class="home-card__section">
            <h2 class="home-card__section-label">HPO Setup</h2>
            <ui-load-ontology
                label="HPO"
                [isLoading]="statusService.hpoLoading()"
                [isLoaded]="statusService.hpoLoaded()"
                [statusMessage]="hpoMessage()"
                [termCount]="statusService.nHpoTerms()"
                helpUrl="https://p2gx.github.io/phenoboard/help/start.html#load-the-hpo"
                [helpLines]="['Select the local hp.json file from your machine.']"
                (onLoad)="loadHpo()">
                </ui-load-ontology>
        </div>

         <div class="home-card__section">
            <h2 class="home-card__section-label">HPOAs Setup</h2>
            <ui-load-ontology
                label="HPOA"
                [isLoading]="statusService.hpoaLoading()"
                [isLoaded]="statusService.hpoaLoaded()"
                [statusMessage]="hpoaMessage()"
                [termCount]="statusService.nHpoaDisease()"
                helpUrl="https://p2gx.github.io/phenoboard/help/start.html#load-the-hpo"
                [helpLines]="['Select the local phenotype.hpoa file from your machine.']"
                (onLoad)="loadHpoas()">
            </ui-load-ontology>
        </div>

        <div class="home-card__section">
            <h2 class="home-card__section-label">gene-to-disease.txt file</h2>
               <ui-load-ontology
                label="Gene to Disease file"
                [isLoading]="statusService.g2dLoading()"
                [isLoaded]="statusService.g2dLoaded()"
                [statusMessage]="g2dMessage()"
                [termCount]="statusService.nGenes()"
                helpUrl="https://p2gx.github.io/phenoboard/help/start.html#load-the-hpo"
                [helpLines]="['Select the local gene-to-disease.txt file from your machine.']"
                (onLoad)="loadGeneToDisease()">
            </ui-load-ontology>
        </div> 
    </div>
</div>